@import url("https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #1d1d1d;
}

body {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

main #name {
  font-size: 1rem;
  font-family: "Share Tech", sans-serif;
  display: block;
}

main #next {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
  background-color: rgba(29, 29, 29, 0.7215686275);
  display: flex;
  align-items: start;
  justify-content: start;
}
main #next #bar {
  height: 2px;
  width: 100%;
  background-color: #008000;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  animation: bar 2s cubic-bezier(0.19, 1, 0.22, 1) both;
}
@keyframes bar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
main .titel {
  font-size: 1.5rem;
  font-family: "Bebas Neue", sans-serif;
}
main .progress-bar {
  height: 0.5rem;
  width: 100%;
  background-color: transparent;
  padding: 0;
  border-radius: 1rem;
  overflow: hidden;
}
main .count-of-qustion {
  display: flex;
}
main .right {
  height: 100%;
  width: 100%;
  background-color: #008000;
  border: none;
}
main .wrong {
  height: 100%;
  width: 100%;
  background-color: #a50000;
  border: none;
}

#game-paly {
  padding: 0 3rem;
}
#game-paly header {
  margin-bottom: 2rem;
}
#game-paly header nav {
  padding: 3rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f4f2ed;
}
#game-paly header nav h2 {
  font-family: "Outfit", sans-serif;
}
#game-paly header nav p {
  font-size: 1.2rem;
  font-family: "Bebas Neue", sans-serif;
}
#game-paly #qustion-container {
  margin-top: 1rem;
  padding: 2rem 3rem;
  border-radius: 1rem;
  background-color: #121212;
  box-shadow: inset 0px 0px 23px 4px transparent;
}
#game-paly p {
  color: #f4f2ed;
  font-family: "Outfit", sans-serif;
  text-transform: uppercase;
  opacity: 80%;
}
#game-paly p span {
  padding: 0.3rem 0.5rem;
  background-color: #1a1a1a;
  border-radius: 0.2rem;
}
#game-paly p span span {
  padding-left: 0.2rem;
}
#game-paly h1 {
  font-size: 4rem;
  font-family: "Outfit", sans-serif;
  color: #f4f2ed;
}

#btn-container {
  display: flex;
  gap: 1rem;
  padding: 2rem 0;
}
#btn-container .btn {
  height: 6rem;
  width: 8rem;
  padding: 0 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background-color: #0f0f0f;
  color: #f4f2ed;
  font-family: "Outfit", sans-serif;
  border-radius: 1rem;
  border: 1px solid #0f0f0f;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
#btn-container .btn:hover {
  border: 1px solid #4169e1;
  transform: scale(1.02);
}
#btn-container .btn:active {
  border: 2px solid #6b6b6b;
}/*# sourceMappingURL=style.css.map */